---
layout: common
---

{% capture bin_name %}{% include get_bin_name path=page.path %}{% endcapture %}

{% include page_title.html title=bin_name %}
<img src="/assets/{{ bin_name | downcase }}.png" style="width: 60%; height: 60%; display: block; margin-right: auto; margin-left: auto; margin-bottom: 2.5vh">
{% include function_list.html bin=page %}

{{ page.description | markdownify }}

{% for function_pair in site.data.functions %}
{% assign function_id = function_pair[0] %}
{% assign function = function_pair[1] %}
{% assign examples = page.functions[function_id] %}
{% unless examples %}{% continue %}{% endunless %}

<h2 id="{{ function_id }}" class="function-name">{{- function.label -}}</h2>
{{ function.description | markdownify }}
<ul class="examples">
    {% for example in examples %}

    <li>
        {{ example.description | markdownify }}
    </li>

    {% endfor %}
</ul>


{% endfor %}

