<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% assign title = "SCAM|MPACT" %}
            {% if page.url != '/' %}
            {% if page.layout == 'bin' %}
            {{ title | downcase }}
            {% else %}
            {{ page.title }}
            {% endif %}
            |
            {% endif %}
            {{ title }}
        </title>
        <link rel="icon" href="/assets/logo.png">
        <link rel="stylesheet" href="/assets/style.css" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <style>
            .href{
              color: white;
              text-decoration: none;
            }
            .href:hover {
              text-decoration: underline;
            }
        </style>
    </head>
    <body>
        {{ content }}

        <script>
         // add permalink on headings
         document.querySelectorAll('h2, h3, h4, h5, h5').forEach((heading) => {
             const link = document.createElement('a');
             link.className = 'permalink';
             link.href = `#${heading.id}`;
             heading.appendChild(link);
         });
        </script>
        <div>
            <h1>References on how to protect yourself from scamming:</h1>
            <ul>
              <li><a href="https://www.qld.gov.au/law/your-rights/consumer-rights-complaints-and-scams/scams-fraud/protect-yourself-against-scams" class='href'>Protect yourself from scams</a></li>
              <li><a href="https://krisha.kz/content/articles/2022/arenda-2022-kak-ne-popast-na-moshennikov" class='href'>How to detect scammer</a></li>
              <li><a href="https://help.olx.kz/hc/ru/categories/360003315953-%D0%9A%D0%B0%D0%BA-%D0%B8%D0%B7%D0%B1%D0%B5%D0%B6%D0%B0%D1%82%D1%8C-%D0%BC%D0%BE%D1%88%D0%B5%D0%BD%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-" class='href'>How to avoid fraud!?</a></li>
              <li><a href="https://dogovor24.kz/articles/moshennichestvo_v_internete-126.html" class="href">Scammers on the internet</a></li>
              <li><a href="https://kapital.kz/gosudarstvo/102872/kak-kazakhstantsev-obmanyvayut-internet-moshenniki.html" class='href'>How Kazakhstanis are deceived by Internet scammers</a></li>
            </ul>
        </div>
    </body>
</html>
